resources/genome_releases
.settings/
bin/
.idea/*
*.iml
.idea/
.idea
junit/
*.jar
.classpath
.project
*~
errorLog.txt
*.properties
out
psqllogin
.metadata/
*.cfg
*.swp
resources/processTest/test_sorted.sam
resources/processTest/test_sorted_without_duplicates.sam
pyicos.log

