# Database settings.

databaseUser        = DB_USER
databasePassword    = DB_PASSWORD
databaseHost        = DB_HOST
databaseName        = DB_NAME

# Port number on which the server listens for HTTP connections.
genomizerPort       = 7000

# Directory on the server where uploaded files are stored.

fileLocation        = /tmp/

# Max. number of threads in the processing work pool.

nrOfProcessThreads  = 5

# Paths to various programs that we use.

picardLocation		= resources/picard-tools/picard.jar
bowtie2Location		= resources/bowtie2/bowtie2
pyicosLocation		= resources/pyicoteo/pyicos
smoothingJarLocation	= resources/smoothing.jar

# Address and port of the publicly visible WWW server (if any)
# that is tunnelling requests to the genomizer server.
# 'wwwTunnelPath' is the path on the WWW server that
# requests to genomizer server are mapped to (usually '/api').

wwwTunnelHost       = WWW_TUNNEL_HOST
wwwTunnelPort       = WWW_TUNNEL_PORT
wwwTunnelPath       = WWW_TUNNEL_PATH

# Directory used for storing temporary files during uploading.
# Should be on the same partition as 'fileLocation'.
uploadTempDir       = /tmp/
